<div appHilightContent class="printable">
    <header class="printable">
        <h1 class="printable">Richard Olson</h1>
        <ng-container *ngIf="!user; else contactInfo">
            <p> Minnesota | <a href="mailto:richard@richardolson.org">rolson&#64;richardolson.org</a></p>
        </ng-container>
        <ng-template #contactInfo>
            <p> Andover | <a href="mailto:richard@richardolson.org">rolson&#64;richardolson.org</a> | 720-384-3388</p>
        </ng-template>
    </header>

    <section>
        <div class="row">
            <div class="col">
                <div class="top-section-marker">
                    <h2>Links</h2>
                    <ul>
                        <li class=""> <a href="https://github.com/radioflyer651/gpt-resume-client"
                                target="_blank">(GitHub) Site's Client Source</a> </li>
                        <li class=""> <a href="https://github.com/radioflyer651/gpt-resume-server"
                                target="_blank">(GitHub) Site's Server Source</a> </li>
                        <li class="">
                            <a href="https://www.youtube.com/watch?v=ROKIx-PVi8k" target="_blank">
                                Youtube Video of Richard's Graphical Product Configurator
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="top-section-marker">
                    <h2>Professional Summary</h2>
                    <div>
                        Senior Software Consultant and Team Leader with 15+ years of experience in software
                        development
                        and leadership. Highly skilled in Angular, .NET, NodeJS, and React, with expertise in
                        managing
                        offshore
                        teams and delivering cloud-native solutions using Azure, Kubernetes, and Docker. Known for
                        mentoring developers, driving complex projects to successful completion, and fostering
                        collaboration across cross-functional teams.
                    </div>
                </div>

                <div class="top-section-marker">
                    <h2>Technical Skills</h2>
                    <div>
                        <strong>Languages:</strong> TypeScript, JavaScript, HTML5, CSS, SCSS, C#, VB.NET, XAML/WPF,
                        VBA,
                        VB6, AutoLISP, AeroBasic, XML
                    </div>
                    <div>
                        <strong>Frameworks & Technologies:</strong> Angular v2-v19, ASP.NET, React, Web API, NodeJS,
                        .NET Core, .NET
                        1.1 through .NET 8, SSL Certificates, MVC, Entity Framework
                    </div>
                    <div>
                        <strong>Cloud Platforms:</strong> Azure (App Services, Functions, SQL, ServiceBus, Key
                        Vault), AWS (EC2, S3, SNS, SES, Route53)
                    </div>
                    <div>
                        <strong>DevOps & Testing:</strong> Azure DevOps (Pipelines, Repos), Docker, Kubernetes
                        (AKS),
                        NUnit, Git
                    </div>
                    <div>
                        <strong>Databases:</strong> MS SQL Server, MySQL, MongoDB
                    </div>
                    <div>
                        <strong>Unit Testing:</strong> NUnit, Mocha, XUnit, FluentAssertions, Autofixture, Faker.js,
                        FluentAssertions
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <h2>Professional Experience</h2>

        <div class="experience-row">
            <div class="experience-title">
                <div class="company-role-info">
                    <h3>Intertech</h3>
                    <h5>Sr. Software Consultant</h5>
                </div>
                <p><strong>October 2019 - March 2025</strong> | Partnered on 7 projects at 5 companies</p>
            </div>

            <p><strong>Key Projects:</strong></p>
            <ul>
                <li>
                    <span class="project-title">Investor Portal Improvements (RSM):</span>
                    <ul>
                        <li>Lead a team of offshore developers in adding new features and maintaining the
                            application.
                        </li>
                        <li>Developed page-level caching system using MongoDB, for short term data used in the UI.
                        </li>
                        <li>Facilitated onboarding of new developers on the project.</li>
                        <li>Participated in split and duplication of services from larger ecosystem with another
                            application.</li>
                        <li>Developed tools in NodeJS for generating and uploading fictitious data for testing
                            purposes.
                        </li>
                    </ul>
                    <div class="tech-used">
                        <div class="technologies">Technologies:</div> .NET Core, React, NodeJS, Docker, Azure
                        ServiceBus, Azure Functions, Azure Key Vault, Azure DevOps, Kubernetes
                    </div>
                </li>
                <li>
                    <span class="project-title">DMS (Document Manager System) (RSM):</span>
                    <ul>
                        <li>Pioneered dockerization of web applications for use with Docker.</li>
                        <li>Developed company standard Dockerfile for use with front-end SPAs.</li>
                        <li>Collaborated with team to develop new features in .NET Core and React.</li>
                    </ul>
                    <div class="tech-used">
                        <div class="technologies">Technologies:</div> .NET Core, React, Docker, Azure App
                        Configuration, Kubernetes (AKS)
                    </div>
                </li>
                <li>
                    <span class="project-title">Big Gain (BeefBooks Cattle Feeding System):</span>
                    <ul>
                        <li>Participated in improving existing Angular application.</li>
                        <li>Utilized RXJS to facilitate data flow throughout the application.</li>
                        <li>Utilized NGRX for Redux-like state management.</li>
                        <li>Performed upgrade from Angular v15 to v19.</li>
                    </ul>
                    <div class="tech-used">
                        <div class="technologies">Technologies:</div> Angular, RXJS, NGRX, Web API, Azure SQL,
                        Entity
                        Framework
                    </div>
                </li>
            </ul>
        </div>

        <div class="experience-row">
            <div class="experience-title">
                <div class="company-role-info">
                    <h3>FingerCraft Software</h3>
                    <h5>Freelance Developer/Owner</h5>
                </div>
                <p><strong>November 2017 – October 2019</strong></p>
            </div>
            <p> Designed and developed 4 projects for 4 clients. </p>
            <p><strong>Notable Projects:</strong></p>
            <strong>NOTE: All backend development at FingerCraft Software used NodeJS and Express.</strong>
            <ul>
                <li>
                    <strong>Project: Chamber</strong>
                    <ul>
                        <li>Designed and developed platform to enable non-technical users to configure products
                            through
                            an interactive GUI.</li>
                        <li>Developed system to generate CAD drawings through Autodesk Forge APIs, originating from
                            user
                            designs.</li>
                        <li>Developed system to extract and store web-based drawing information from CAD
                            application,
                            for use in the web-based product.</li>
                        <li> Developed canvas-based graphics engine utilizing modern matrix transformations.</li>
                    </ul>
                    <div class="tech-used">
                        <div class="technologies">Technologies:</div> Angular, NodeJS, AWS EC2, MongoDB, Autodesk
                        Forge
                    </div>
                    <div>
                        <div class="video-link">
                            <strong>
                                Product Demo Video:
                            </strong>
                            <a href="https://www.youtube.com/watch?v=ROKIx-PVi8k">
                                https://www.youtube.com/watch?v=ROKIx-PVi8k
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <strong>Structural Analysis Tool (Edge):</strong>
                    <ul>
                        <li>Developed TypeScript-based Finite Element Analysis library for analyzing structures and
                            obtaining internal
                            forces, given dynamic external loading. </li>
                        <li>Developed interactive Angular application to modify and edit structures.</li>
                        <li>Developed back end using NodeJS.</li>
                        <li>Provided MongoDB-based storage of project/structure data.</li>
                    </ul>
                    <div class="tech-used">
                        <div class="technologies">Technologies:</div> Node.js, TypeScript, Angular, MongoDB, AWS,
                        Autodesk Forge API, AutoCAD, ObjectARX
                    </div>
                </li>
            </ul>

        </div>

        <div class="experience-row">
            <div class="experience-title">
                <div class="company-role-info">
                    <h3>Oldcastle Infrastructure</h3>
                    <h5>Developer & National CAD Manager</h5>
                </div>
                <p><strong>January 2000 – November 2017</strong></p>
            </div>
            <p> Designed, developed, and maintained 9+ total applications. </p>
            <ul>
                <li>
                    <strong>Catalyst Interactive Product Design Tool:</strong>
                    <ul>
                        <li>Worked with team of structural engineers and 3rd party developers to produce graphical
                            product configuration tool.</li>
                        <li>Designed and built C#-based 3D-capable analytical geometry engine used in configuring
                            the
                            product.</li>
                        <li>Designed and built C#/WPF-based graphics engine to work with geometry engine.</li>
                        <li>Developed serialization mechanics to interface between 3rd party software (ETO) and C#
                            for
                            product visualization.</li>
                        <li>Developed 3D CAD models for use in application.</li>
                    </ul>
                    <div class="tech-used">
                        <div class="technologies">Technologies:</div> WPF/XAML, C#, Autodesk Inventor, Autodesk ETO
                    </div>
                </li>
                <li><strong>CastleStorm:</strong>
                    <ul>
                        <li>Developed Matrix Math library for .NET (one was not available at the time)</li>
                        <li>Developed FEA analysis library for structural analysis of box culvert and three sided
                            bridge
                            products.</li>
                        <li>Developed graphical interfaces for technical diagrams of product designs.</li>
                        <li>Incorporated structural calculations into the application to produce final designs of
                            required steel reinforcement of concrete structures.</li>
                        <li>Optimization and incorporating muilt-threading techniques (pre-Task era) for improvement
                            of
                            application performance.</li>
                    </ul>
                    <div class="tech-used">
                        <div class="technologies">Technologies:</div> WPF/XAML, VB.NET
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section>
        <h2>Education</h2>
        <p><strong>Software Development</strong>, Anoka-Ramsey Community College</p>
        <p><strong>Mechanical Drafting</strong>, Minneapolis Drafting School</p>
    </section>

    <section>
        <h2>Client Testimonial</h2>
        <div class="testimonial">
            <div class="testimonial-quote">
                <div class="testimonial-p">
                    <div class="testimonial-marker">"</div>
                    Richard Olson was a major reason our product was successful
                    for multiple years. He was our lead developer and quite frankly the architect of our
                    success. We released multiple paradigm changing features under Richard's watchful eye without
                    issue.
                    Our business was able to increase usage by clients by 30+% thanks to the additional
                    features Richard and the team were able to develop.
                </div>
                <div class="testimonial-p">
                    In my years of working with Richard I cannot count a single time that
                    he was unreliable, unreachable, or unwilling to assist in a time of need for our team. This
                    includes being able to relay some pretty technical information to some very non-technical
                    stakeholders which proved to be a monumental task at times.
                </div>
                <div class="testimonial-p">Richard is the single largest loss at our company in
                    my five years with them. Losing his knowledge, expertise, and mentality as a team player
                    will be felt for a long time to come. He is organized while still able to dream. He really
                    helped
                    define for us
                    what it is to work with a top tier developer.
                    <div class="testimonial-marker">"</div>
                </div>
            </div>
            <span class="testimonial-signature">
                Joseph Bailey<br>
                Product Owner, RSM US LLP
            </span>
        </div>
    </section>
</div>