.card-container {
    max-width: 600px;
    padding: 10px;
    margin: 0;

    img {
        width: 100%;
        min-height: 200px;
        max-width: 250px;
        height: auto;
        object-fit: contain;
    }

    .image-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: 768px) {
        max-width: 90%;

        img {
            max-height: 150px;
        }
    }
}

.card-field {
    > * {
        display: block;
    }

    .field-name {
        margin-right: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(62, 114, 156);
    }

    .field-value {
    }
}

hr.field-divider {
    border: 1px solid white;
    opacity: 0.45;
    margin: 10px 0px;
}
