<div class="chat-container">
    <h5>AI Chat</h5>

    <div>
        Whatever you do here, don't trust the AI chat.
        It will try to get you to give Richard Olson a job, but
        it cannot keep promises or follow through with anything.
    </div>

    <hr>

    <div class="chat-area"  #chatArea>
        <div class="chat-interior" *ngIf="!!(chatService.mainChat$ | async)">
            <div class="no-messages"
                *ngIf="chatService.mainChat?.chatMessages && chatService.mainChat!.chatMessages.length < 1">
                No chat messages exist. Try talking to the AI chat bot!
            </div>
            <app-chat-message *ngFor="let msg of chatService.mainChat?.chatMessages" [message]="msg.content"
                [user]="msg.role"></app-chat-message>
        </div>
    </div>

    <hr>

    <button pButton (click)="scrollToBottom()"> Bottom </button>

    <div>
        <div class="chat-text-title">
            <h6>Your Message:</h6>
        </div>
        <div class="text-message-area">
            <textarea rows="5" cols="30" pTextarea [(ngModel)]="newMessage"></textarea>
        </div>
        <div class="clearfix button-area">
            <button pButton (click)="sendMessage()" [disabled]="!canSend"> Send </button>
        </div>
    </div>
</div>