@import "../../../style_variables";

.chat-container {
    height: $free-content-height;
    padding: 20px;
    border-radius: 20px;

    color: white;
    background-color: rgb(26, 26, 26);

    display: flex;
    flex-direction: column;
    overflow: hidden;

    hr {
        border-color: white;
    }

    @media screen and (max-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        height: 100%;
    }
}

.no-messages {
    color: white;
    margin: 30px;
}

.chat-area {
    // max-height: 400px;
    overflow: auto;
    flex: 1 1 auto;

    color: #141414;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;

    background-image: url("/ash__00004_.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    // padding: 20px 5px;

    .chat-interior {
    }
}

.chat-text-title {
    font-size: 1.25em;
    margin-top: 20px;

    @media screen and (max-width: 768px) {
        font-size: 1em;
        margin-top: 10px;
    }
}

.text-message-area {
    textarea {
        width: 100%;
    }
}

.button-area {
    display: flex;
    flex-direction: row;
    justify-content: end;

    margin: 20px 0 0 0;
    padding: 0;

    button {
        margin-left: 20px;
    }

    @media screen and (max-width: 768px) {
        margin: 0;
        padding: 0;

        button {
            margin-left: 0;
        }
    }
}

.scroll-button-container {
    margin: 0;
    padding: 0;

    > * {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    hr {
        margin: 0;
        margin-top: 5px;
    }
}
