<div class="chat-container">
    <h5>AI Chat</h5>

    <div>
        Whatever you do here, don't trust the AI chat.
        It will try to get you to give Richard Olson a job, but
        it cannot keep promises or follow through with anything.
    </div>

    <hr>

    <div class="chat-area" #chatArea>
        <div class="chat-interior" *ngIf="!!(chat$ | async )">
            <div class="no-messages"
                *ngIf="(chat$ | async )?.chatMessages && (chat$ | async )!.chatMessages.length < 1">
                <app-chat-message [message]="noMessagesMessage" [user]="'assistant'"></app-chat-message>
            </div>
            <app-chat-message *ngFor="let msg of (chat$ | async )?.chatMessages" [message]="msg.content"
                [user]="msg.role"></app-chat-message>
        </div>
    </div>

    <hr>

    <div class="text-center">
        <p-button icon="pi pi-arrow-down" [raised]="true" [rounded]="true" severity="help" (click)="scrollToBottom()" />
    </div>

    <div>
        <div class="chat-text-title">
            <h6>Your Message:</h6>
        </div>
        <div class="text-message-area">
            <textarea #messageInput rows="4" cols="30" pTextarea [(ngModel)]="newMessage"></textarea>
        </div>
        <div class="clearfix button-area">
            <button pButton tabindex="-1" *ngIf="canStartNewChat" [raised]="true" (click)="newChat()" severity="danger">
                Start New Chat
            </button>
            <button pButton [raised]="true" label="Send" (click)="sendMessage()">
            </button>
        </div>
    </div>
</div>

<p-confirmdialog />