.left {
    float: left;
    // text-align: left;
}

.right {
    float: right;
    // text-align: right;

    .user-name {
        text-align: right;
    }
}

.left,
.right {
    max-width: 70%;
    min-width: 51%;

    position: relative;

    @media (max-width: 600px) {
        min-width: 90%;
    }
    width: auto;
    margin: 0;
    padding: 10px;

    margin: 10px 5px;

    background-color: gray;
    border-radius: 15px;

    opacity: 0.45;

    &:hover {
        opacity: 1;
    }

    .user-name {
        font-weight: bold;
        font-size: 1.2em;
    }

    .sound-button-bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 5px;
    }

    .sound-button-top {
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
    }
}

.last-image {
    opacity: 0.85;
}
