.left {
    float: left;
    // text-align: left;
}

.right {
    float: right;
    // text-align: right;

    .user-name {
        text-align: right;
    }
}

.left,
.right {
    max-width: 70%;
    min-width: 51%;
    width: auto;
    margin: 0;
    padding: 10px;

    margin: 10px 5px;

    background-color: gray;
    border-radius: 15px;

    .user-name {
        font-weight: bold;
        font-size: 1.2em;
    }
}
