<ng-container *ngIf="(employeeSearchList$ | async); else notVisible">
    <p-panel [showHeader]="false">
        <div class="d-flex search-area">
            <p-floatlabel>
                <input id="search-text" pInputText [(ngModel)]="searchText" />
                <label for="search-text">Search</label>
            </p-floatlabel>
            <p-button label="Clear" (click)="clearSearch()"></p-button>
        </div>
    </p-panel>

    <p-table [value]="(employeeSearchList$ | async)!" size="small">
        <ng-template #header>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Title
                </th>
                <th>
                    Location
                </th>
                <th>
                    Email
                </th>
            </tr>
        </ng-template>

        <ng-template #body let-person>
            <tr>
                <td>
                    <div class="d-flex action-list">
                        <div class="d-flex align-base">
                            <p-button (click)="createContactFromEmployee(person)" icon="fa-regular fa-address-book"
                                severity="secondary" size="small"></p-button>

                            <a *ngIf="person.linkedin_url" [href]="person.linkedin_url" target="_blank">
                                <p-button icon="pi pi-linkedin" size="small"></p-button>
                            </a>
                            <a *ngIf="person.github_url" [href]="person.github_url" target="_blank">
                                <p-button icon="pi pi-github" size="small"></p-button>
                            </a>
                            <a *ngIf="person.facebook_url" [href]="person.facebook_url" target="_blank">
                                <p-button icon="pi pi-facebook" size="small"></p-button>
                            </a>
                        </div>
                        <div class="flex-fill m-2">
                            <div class="contact-name">
                                {{ person.name }}
                            </div>
                            <div class="contact-seniority">
                                ({{ person.seniority }})
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {{ person.title }}
                </td>
                <td>
                    {{ person.country }}
                </td>
                <td>
                    <div> {{ person.email }} </div>
                    <ng-container *ngIf="person.emails">
                        <div *ngFor="let email of person.emails">
                            {{ email }}
                        </div>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-container>

<ng-template #notVisible>
    <div *ngIf="isLoading; else noEmployees" class="d-flex justify-content-center align-items-center">
        <p-progressSpinner [style]="{'width': '50px', 'height': '50px'}" />
    </div>

    <ng-template #noEmployees>
        <div>
            No Employees
        </div>
    </ng-template>
</ng-template>