.search-area {
    align-items: baseline;
}

.contact-name {
    font-weight: bold;
}

.contact-seniority {
    font-size: 0.7rem;
}

.action-list {
    p-button {
        margin-right: 0.5rem;
        padding: 0;
    }
    
}
