<div class="login-container">
    <p-panel header="User Login">
        <div [formGroup]="loginForm">
            <p-iftalabel>
                <input pSize="large" pInputText id="user-name" formControlName="userName">
                <label for="user-name">Your Name</label>
            </p-iftalabel>
            <p-iftalabel>
                <input pSize="large" pInputText id="website" formControlName="website">
                <label for="website">Company Website</label>
            </p-iftalabel>
        </div>

        <ng-template #footer>
            <div class="button-container">
                <p-button type="primary" (click)="submit()">OK</p-button>
            </div>
        </ng-template>
    </p-panel>
</div>