<p-dialog [(visible)]="visible" [style]="{minHeight: '800px', width: '750px'}">
    <ng-template #header>
        <h3>Job Listing Details</h3>
    </ng-template>

    <div class="job-listing-form" *ngIf="!!targetListing">

        <p-tabs [(value)]="tabIndex" [style]="{height: '100%'}">
            <p-tablist>
                <p-tab [value]="0">
                    <div>
                        Job Details
                    </div>
                </p-tab>
                <p-tab [value]="1">
                    <div>
                        Job Description
                    </div>
                </p-tab>
                <p-tab [value]="2">
                    <div>
                        AI Analysis
                    </div>
                </p-tab>
                <p-tab [value]="3">
                    <div>
                        Comments
                    </div>
                </p-tab>
            </p-tablist>

            <p-tabpanel [value]="0">
                <!-- Title Input -->
                <p-float-label>
                    <input autocomplete="off" id="job-title" type="text" pInputText [(ngModel)]="targetListing.jobTitle" />
                    <label for="job-title">Job Title</label>
                </p-float-label>

                <!-- URL Link -->
                <p-float-label>
                    <input autocomplete="off" id="url-link" type="text" pInputText [(ngModel)]="targetListing.urlLink" />
                    <label for="url-link">URL Link</label>
                </p-float-label>

                <div *ngIf="!!urlLink" class="job-link">
                    <a [href]="urlLink" target="_blank">Link</a>
                </div>

                <!-- Posting Date -->
                <p-float-label>
                    <p-date-picker id="posting-date" [(ngModel)]="targetListing.postingDate"
                        dateFormat="mm/dd/yy"></p-date-picker>
                    <label for="posting-date">Posting Date</label>
                </p-float-label>

                <!-- Status -->

                <!-- Current Status Display -->
                <div class="status-section">
                    <div class="status-header">
                        <h4>Job Status</h4>
                        <p-button label="New Status" size="small" severity="secondary"
                            (click)="editJobStatus('new')"></p-button>
                    </div>

                    <p-table [value]="targetListing.jobStatuses" *ngIf="targetListing?.jobStatuses?.length">
                        <ng-template #header>
                            <tr>
                                <th>
                                    <!-- Actions -->
                                </th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </ng-template>

                        <ng-template #body let-status>
                            <tr>
                                <td>
                                    <p-button icon="pi pi-times" (click)="deleteJobStatus(status)"></p-button>
                                    <p-button icon="pi pi-cog" (click)="editJobStatus(status)"></p-button>
                                </td>
                                <td> {{ status.status }} </td>
                                <td> {{ status.statusDate | date: 'MM/dd/yy' }} </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabpanel>

            <p-tabpanel [value]="1">
                <!-- Description -->
                <label for="description">Description</label>
                <textarea id="description" rows="20" cols="50" pInputText [(ngModel)]="jobDescription"
                    [style]="{width: '100%', height: '100%'}"></textarea>
            </p-tabpanel>

            <p-tabpanel [value]="2">
                <div>
                    <div class="analysis-header">
                        <h5>Job Analysis</h5>
                        <div *ngIf="!isUpdatingAnalysis">
                            <p-button label="Update" (click)="updateAiAnalysis()"></p-button>
                        </div>
                    </div>

                    <ng-template #analysisField let-label="label" let-value="value" let-newline="newline">
                        <div [ngClass]="{'d-flex': newline !== true}" class="analysis-field">
                            <label [ngClass]="{'full-width': newline === true}"> {{label}} </label>
                            <div class="value"> {{value}} </div>
                        </div>
                    </ng-template>

                    <div *ngIf="!isUpdatingAnalysis; else updatingAnalysis">
                        <ng-template #noAnalysis>
                            No analysis has been performed. Click the button above to do so.
                        </ng-template>

                        <div *ngIf="targetListing.analysis; else noAnalysis" class="job-analysis">
                            <ng-content *ngTemplateOutlet="analysisField; context: 
                                {label: 'Job Title', 
                                value: targetListing.analysis.jobTitle}">
                            </ng-content>

                            <ng-content *ngTemplateOutlet="analysisField; context: 
                                {label: 'Company Name', 
                                value: targetListing.analysis.companyName}">
                            </ng-content>

                            <ng-content *ngTemplateOutlet="analysisField; context: 
                                {label: 'Posting Date', 
                                value: targetListing.analysis.datePosted}">
                            </ng-content>

                            <ng-content *ngTemplateOutlet="analysisField; context: 
                                {label: 'Job Description', 
                                value: targetListing.analysis.jobDescription}">
                            </ng-content>

                            <ng-content *ngTemplateOutlet="analysisField; context: 
                                {label: 'Is Contractor Role?', 
                                value: targetListing.analysis.isContactRole}">
                            </ng-content>

                            <ng-content *ngTemplateOutlet="analysisField; context: 
                                {label: 'MN Allowed?', 
                                value: targetListing.analysis.allowWorkInMn}">
                            </ng-content>

                            <ng-content *ngTemplateOutlet="analysisField; context: 
                                {label: 'Min Pay', 
                                value: targetListing.analysis.minCompensation}">
                            </ng-content>

                            <ng-content *ngTemplateOutlet="analysisField; context: 
                                {label: 'Max Pay', 
                                value: targetListing.analysis.maxCompensation}">
                            </ng-content>

                            <ng-content *ngTemplateOutlet="analysisField; context: 
                            {label: 'Location', 
                            value: targetListing.analysis.jobLocation}">
                            </ng-content>

                            <div class="chip-area">
                                <label>Required Technologies</label>
                                <div>
                                    <p-chip *ngFor="let skill of targetListing.analysis.requiredTechnologies">
                                        {{ skill }}
                                    </p-chip>
                                </div>
                                <!-- <ul>
                                    <li *ngFor="let skill of targetListing.analysis.requiredTechnologies">
                                        {{ skill }}
                                    </li>
                                </ul> -->
                            </div>

                            <div class="chip-area">
                                <label>Bonus Technologies</label>
                                <div>
                                    <p-chip *ngFor="let skill of targetListing.analysis.bonusTechnologies">
                                        {{ skill }}
                                    </p-chip>
                                </div>
                                <!-- <ul>
                                        <li *ngFor="let skill of targetListing.analysis.bonusTechnologies">
                                            {{ skill }}
                                        </li>
                                    </ul> -->
                            </div>

                            <div class="chip-area">
                                <label>Required Skills</label>
                                <ul>
                                    <li *ngFor="let skill of targetListing.analysis.requiredSkillList">
                                        {{ skill }}
                                    </li>
                                </ul>
                                <!-- <div>
                                    <p-chip *ngFor="let skill of targetListing.analysis.requiredSkillList">
                                        {{ skill }}
                                    </p-chip>
                                </div> -->
                            </div>

                            <div class="chip-area">
                                <label>Bonus Skills</label>
                                <ul>
                                    <li *ngFor="let skill of targetListing.analysis.optionalSkillList">
                                        {{ skill }}
                                    </li>
                                </ul>
                                <!-- <div>
                                    <p-chip *ngFor="let skill of targetListing.analysis.optionalSkillList">
                                        {{ skill }}
                                    </p-chip>
                                </div> -->
                            </div>

                            <div class="chip-area">
                                <label>Other Qualifiers</label>
                                <ul>
                                    <li *ngFor="let skill of targetListing.analysis.otherQualifyingInfo">
                                        {{ skill }}
                                    </li>
                                </ul>
                                <!-- <div>
                                    <p-chip *ngFor="let skill of targetListing.analysis.otherQualifyingInfo">
                                        {{ skill }}
                                    </p-chip>
                                </div> -->
                            </div>

                            <ng-content *ngTemplateOutlet="analysisField; context: 
                                {label: 'HM Clues', newline: true,
                                value: targetListing.analysis.hiringManagerClues}">
                            </ng-content>

                            <ng-content *ngTemplateOutlet="analysisField; context: 
                                {label: 'Other Information',  newline: true,
                                value: targetListing.analysis.otherInformation}">
                            </ng-content>

                            <ng-content *ngTemplateOutlet="analysisField; context: 
                            {label: 'Education',  newline: true,
                            value: targetListing.analysis.educationRequirements}">
                            </ng-content>

                            <ng-content *ngTemplateOutlet="analysisField; context: 
                                {label: 'Company Description',  newline: true,
                                value: targetListing.analysis.companyDescription}">
                            </ng-content>
                        </div>
                    </div>

                    <ng-template #updatingAnalysis>
                        Updating...
                    </ng-template>
                </div>
            </p-tabpanel>

            <p-tabpanel [value]="3">
                <!-- Comments List -->
                <div class="comments-section">
                    <h4>Comments</h4>
                    <app-comments-editor [commentOwner]="targetListing"></app-comments-editor>
                </div>
            </p-tabpanel>
        </p-tabs>
    </div>

    <!-- Save Button -->
    <ng-template #footer>
        <div class="control-cell">
            <p-button label="Cancel" (onClick)="onCompleteLocal(true)"></p-button>
            <p-splitbutton label="OK" (onClick)="onCompleteLocal(false)" [model]="splitButtonModel"></p-splitbutton>
        </div>
    </ng-template>
</p-dialog>

<app-status-dialog [value]="editStatus" [(visible)]="isStatusDialogVisible"
    (closed)="onStatusDialogClosed($event)"></app-status-dialog>