.control-cell {
    display: flex;
    justify-content: end;

    button,
    p-button {
        margin: 0 0.5em;
    }
}

.job-listing-form {
    height: 100%;
}

.status-header {
    display: flex;

    h4 {
        flex: 1 1 auto;
    }
}

p-tabs {
    height: 100%;
}

p-tabpanel {
    height: 100%;
}

p-float-label {
    width: 100%;

    input {
        width: 100%;
    }

    margin-bottom: 2em;
}
