@import "../style_variables";
@import "../mixins";

.site-content-container {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 10pt;
    background-color: #f9f9f9;
    // max-width: 800px;
    // margin: 20px auto;
    color: #333;
    line-height: 1.4;
}

// .site-content-container {
//     @extend %container-page-layout;
// }

.logout-button-wrapper {
    margin-top: 30px;
}

.nav-links {
    a {
        font-size: 1.2rem;
        display: block;
        cursor: pointer;

        margin-bottom: 10px;
    }
}
