<app-site-header></app-site-header>

<div class="site-content-container">
  <div class="left-side">
    <app-login *ngIf="!(isLoginVisible$ | async) && !(pageSizeService.skinnyPage$ | async)"></app-login>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="right-side">
    <app-chat-sidebar [chatId]="(mainChatId$ | async)!"
      *ngIf="!!(mainChatId$ | async) && (isLoginVisible$ | async) && !(pageSizeService.skinnyPage$ | async)"></app-chat-sidebar>
  </div>
</div>

<p-drawer [(visible)]="menuService.showMenu" position="right" position="full">
  <div>Menu</div>

  <div *ngIf="!(userService.isUserLoggedIn$ | async)">
    <app-login></app-login>
  </div>

  <div *ngIf="!!(mainChatId$ | async) && (userService.isUserLoggedIn$ | async)">
    <app-chat-sidebar [chatId]="(mainChatId$ | async)!"></app-chat-sidebar>
  </div>

  <div>
    <p-button *ngIf="(userService.isUserLoggedIn$ | async)" (click)="logout()">Logout</p-button>
  </div>
</p-drawer>

<p-toast />