.site-content-container {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 10pt;
    background-color: #f9f9f9;
    max-width: 800px;
    margin: 20px auto;
    color: #333;
    line-height: 1.4;
}
