@import "../style_variables";

.site-content-container {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 10pt;
    background-color: #f9f9f9;
    // max-width: 800px;
    // margin: 20px auto;
    color: #333;
    line-height: 1.4;
}

.site-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    .left-side,
    .right-side {
        // flex: 1 1 auto;
        width: $sidebar-width;
        padding: $side-bar-padding;
        padding-top: 0;
    }

    .content {
        width: $content-width;
    }
}
