<app-site-header></app-site-header>

<div class="floater-container" *ngIf="(pageSizeService.isSkinnyPage$ | async) && (userService.isUserLoggedIn$ | async)">
  <div class="floater">
    <p-button label="Chat" icon="pi pi-sparkles" [rounded]="true" (click)="toggleChatSlideout()"
      [raised]="true"></p-button>
  </div>
</div>

<div class="floater-container"
  *ngIf="(pageSizeService.isSkinnyPage$ | async) && !(userService.isUserLoggedIn$ | async)">
  <div class="floater">
    <p-button label="Login" icon="pi pi-user" [rounded]="true" [raised]="true" (click)="login()"></p-button>
  </div>
</div>

<div class="site-content-container">
  <div class="left-side">
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="right-side">
  </div>
</div>

<p-drawer [(visible)]="menuService.showMenu" position="left">
  <h3>Menu</h3>

  <nav class="nav-links">
    <a routerLink="/" (click)="closeMenu()">Home</a>
    <a *ngIf="userService.isUserLoggedIn$ | async" routerLink="/tarot-game" (click)="closeMenu()">Tarot Games</a>
  </nav>

  <div *ngIf="!(userService.isUserLoggedIn$ | async) && (pageSizeService.isSkinnyPage$ | async)">
    <app-login></app-login>
  </div>

  <div class="logout-button-wrapper">
    <p-button *ngIf="(userService.isUserLoggedIn$ | async)" (click)="logout()">Logout</p-button>
  </div>

</p-drawer>

<p-toast />
<p-confirmdialog />
<ng-template #emptyTemplate></ng-template>


<p-dialog header="Edit Profile" [modal]="true" [(visible)]="loginService.isLoginDialogOpen"
  [style]="{ width: '25rem' }">
  <app-login></app-login>
</p-dialog>

<app-loading></app-loading>