<app-site-header></app-site-header>

<div class="site-content-container">
  <div class="left-side">
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="right-side">
  </div>
</div>

<p-drawer [(visible)]="menuService.showMenu" position="left">
  <h3>Menu</h3>

  <nav class="nav-links">
    <a routerLink="/" (click)="closeMenu()">Home</a>
    <a *ngIf="userService.isUserLoggedIn$ | async" routerLink="/tarot-game" (click)="closeMenu()">Tarot Games</a>
  </nav>

  <div *ngIf="!(userService.isUserLoggedIn$ | async) && (pageSizeService.skinnyPage$ | async)">
    <app-login></app-login>
  </div>

  <div class="logout-button-wrapper">
    <p-button *ngIf="(userService.isUserLoggedIn$ | async)" (click)="logout()">Logout</p-button>
  </div>

</p-drawer>

<p-toast />

<ng-template #emptyTemplate></ng-template>