.header-container {
    width: 100%;
    display: flex;

    h5 {
        flex: 1 1 auto;
    }
}

.toolbar-container {
    margin-top: 1em;
}

.control-cell {
    display: flex;
    justify-content: end;

    button,
    p-button {
        margin: 0 0.5em;
    }
}

.info-panel {
    width: 100%;

    p-floatlabel {
        width: 100%;

        input {
            width: 100%;
        }
    }
}

p-button {
    margin-left: 1em;
}

p-panel {
    margin-bottom: 1em;
    display: block;
}

.page-toolbar {
    margin-top: 2em;
}
