<div *ngIf="!(editTarget)">
    Loading...
</div>

<div *ngIf="editTarget">
    <p-panel>
        <ng-template #header class="openings">
            <div class="header-container">
                <h5>
                    Company Info
                </h5>
            </div>
        </ng-template>

        <div class="info-panel">
            <div class="checkbox-container">
                <p-checkbox [binary]="true" [(ngModel)]="editTarget.archive"></p-checkbox>
                <label>Archive This Company</label>
            </div>
            <p-floatlabel>
                <input id="company-name" pInputText [(ngModel)]="editTarget.name" />
                <label for="company-name">Company name</label>
            </p-floatlabel>
            <p-floatlabel>
                <input id="website" pInputText [(ngModel)]="websiteField" />
                <label for="website">Website</label>
            </p-floatlabel>
            <div *ngIf="canNavigateWebsite">
                <a [href]="navigationWebsite" target="_blank">{{navigationWebsite}}</a>
            </div>
        </div>
    </p-panel>

    <p-panel>
        <ng-template #header class="openings">
            <div class="header-container">
                <h5>
                    Job Listings
                </h5>
                <div *ngIf="!isNewCompany && jobListings">
                    <p-button icon="pi pi-plus" (click)="editJobListing('new')"></p-button>
                </div>
            </div>
        </ng-template>

        <ng-container *ngIf="(!isNewCompany && jobListings); else saveCompanyFirst">
            <p-table [value]="jobListings" size="small">
                <ng-template #header>
                    <tr>
                        <th>
                            Posting Date
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Posting Link
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </ng-template>

                <ng-template #body let-listing>
                    <tr>
                        <td>
                            {{ listing.postingDate | date:'MM/dd/yy' }}
                        </td>
                        <td>
                            {{listing.jobTitle}}
                        </td>
                        <td>
                            <a href="{{listing.urlLink}}" target="_blank"> Job Link </a>
                        </td>
                        <td>
                            <div *ngIf="listing.currentStatus">
                                <div>
                                    {{listing.currentStatus.status}}
                                </div>
                                <div>
                                    {{listing.currentStatus.statusDate | date:'MM/dd/yy'}}
                                </div>
                            </div>
                        </td>
                        <td class="control-cell">
                            <p-button icon="pi pi-cog" (click)="editJobListing(listing._id)"></p-button>
                            <p-button icon="pi pi-times" (click)="deleteJobListingClicked(listing)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>
    </p-panel>

    <p-panel>
        <ng-template #header class="openings">
            <div class="header-container">
                <h5>
                    Contacts
                </h5>
                <div *ngIf="(!isNewCompany && contacts)">
                    <p-button icon="pi pi-plus" (click)="editContact('new')"></p-button>
                </div>
            </div>
        </ng-template>

        <ng-container *ngIf="(!isNewCompany && contacts); else saveCompanyFirst">
            <p-table [value]="contacts" size="small">
                <ng-template #header>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </ng-template>

                <ng-template #body let-contact>
                    <tr>
                        <td>
                            {{contact.firstName}} {{contact.lastName}}
                        </td>
                        <td>
                            {{contact.title}}
                        </td>
                        <td>
                            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                        </td>
                        <td class="control-cell">
                            <p-button icon="pi pi-cog" (click)="editContact(contact._id)"></p-button>
                            <p-button icon="pi pi-times" (click)="deleteContactClicked(contact._id)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>

    </p-panel>

    <ng-container *ngIf="!isNewCompany && editTarget; else saveCompanyFirst">
        <p-panel>
            <h5>
                Comments
            </h5>
            <app-comments-editor [commentOwner]="editTarget!"></app-comments-editor>
        </p-panel>
    </ng-container>

    <ng-template #saveCompanyFirst>
        <div>
            Comments, Contacts, and Job Listings can be added once the company is saved.
        </div>
    </ng-template>

    <div class="page-toolbar">
        <p-toolbar>
            <ng-template #center>

            </ng-template>
            <ng-template #end>
                <p-button label="Back" routerLink="../../list"></p-button>
                <p-button label="Save" (onClick)="saveCompanyInfo()"></p-button>
                <p-button label="Save And Back" (onClick)="saveCompanyInfoAndReturn()"></p-button>
            </ng-template>
        </p-toolbar>
    </div>

</div>

<app-contact-dialog [(visible)]="isEditContactVisible" [contactId]="editContactTargetId"
    [companyId]="(companyId$ | async)!" (onComplete)="onNewContactClosed($event)"></app-contact-dialog>

<app-job-listing-dialog [(visible)]="isEditJobListingVisible" [jobListingId]="editJobListingTargetId"
    [companyId]="(companyId$ | async)!" (onClosed)="onListingDetailClosed($event)"></app-job-listing-dialog>