<div *ngIf="!(companyService.subscribeToState('company') | async)">
    Loading...
</div>

<div *ngIf="editTarget">
    <p-panel>
        <ng-template #header>
            <div class="header-container">
                <h5>
                    Company Info
                </h5>
            </div>
        </ng-template>

        <div class="info-panel">
            <div class="checkbox-container">
                <p-checkbox [binary]="true" [(ngModel)]="editTarget.archive"></p-checkbox>
                <label>Archive This Company</label>
            </div>
            <p-floatlabel>
                <input id="company-name" pInputText [(ngModel)]="editTarget.name" />
                <label for="company-name">Company name</label>
            </p-floatlabel>
            <div class="d-flex v-align-base">
                <a *ngIf="jobSiteUrl" [href]="jobSiteUrl" target="_blank">
                    <p-button icon="fa-solid fa-briefcase"></p-button>
                </a>
                <div class="flex-fill">
                    <p-floatlabel>
                        <input id="jobs-site" pInputText [(ngModel)]="jobsSite" />
                        <label for="jobs-site">Jobs Site</label>
                    </p-floatlabel>
                </div>
            </div>
            <div class="d-flex v-align-base">
                <a *ngIf="navigationWebsite" [href]="navigationWebsite" target="_blank">
                    <p-button icon="fa-sharp fa-regular fa-globe-pointer"></p-button>
                </a>
                <div class="flex-fill">
                    <p-floatlabel>
                        <input id="website" pInputText [(ngModel)]="websiteField" />
                        <label for="website">Website</label>
                    </p-floatlabel>
                </div>
            </div>
        </div>
    </p-panel>

    <div class="page-toolbar">
        <p-toolbar>
            <ng-template #center>

            </ng-template>
            <ng-template #end>
                <p-button label="Back" routerLink="../../list"></p-button>
                <p-button label="Save" (onClick)="saveCompanyInfo()"></p-button>
                <p-button label="Save And Back" (onClick)="saveCompanyInfoAndReturn()"></p-button>
            </ng-template>
        </p-toolbar>
    </div>

    <p-panel>
        <ng-template #header>
            <div class="header-container">
                <h5>
                    Job Listings
                </h5>
                <div *ngIf="!isNewCompany && jobListings">
                    <p-button icon="fa-solid fa-wand-magic-sparkles" (click)="quickCreateJob()">
                    </p-button>
                    <p-button icon="pi pi-plus" (click)="editJobListing('new')"></p-button>
                </div>
            </div>
        </ng-template>

        <ng-container *ngIf="(!isNewCompany && jobListings); else saveCompanyFirst">
            <p-table [value]="jobListings" size="small">
                <ng-template #header>
                    <tr>
                        <th>
                            Posting Date
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Posting Link
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </ng-template>

                <ng-template #body let-listing>
                    <tr>
                        <td>
                            {{ listing.postingDate | date:'MM/dd/yy' }}
                        </td>
                        <td>
                            {{listing.jobTitle}}
                        </td>
                        <td>
                            <a href="{{listing.urlLink}}" target="_blank"> Job Link </a>
                        </td>
                        <td>
                            <div *ngIf="listing.currentStatus">
                                <div>
                                    {{listing.currentStatus.status}}
                                </div>
                                <div>
                                    {{listing.currentStatus.statusDate | date:'MM/dd/yy'}}
                                </div>
                            </div>
                        </td>
                        <td class="control-cell">
                            <p-button icon="pi pi-cog" (click)="editJobListing(listing._id)"></p-button>
                            <p-button icon="pi pi-times" (click)="deleteJobListingClicked(listing)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>
    </p-panel>

    <p-tabs [value]="0">
        <p-tablist>
            <p-tab [value]="0">
                Comments
            </p-tab>
            <p-tab [value]="1">
                Contacts
            </p-tab>
            <p-tab [value]="2">
                Apollo Company
            </p-tab>
            <p-tab [value]="3">
                Glassdoor
            </p-tab>
        </p-tablist>

        <p-tabpanels>
            <p-tabpanel [value]="0">
                <ng-container *ngIf="!isNewCompany && editTarget; else saveCompanyFirst">
                    <app-comments-editor [commentOwner]="editTarget!"></app-comments-editor>
                </ng-container>
            </p-tabpanel>

            <p-tabpanel [value]="1">
                <div *ngIf="(!isNewCompany && contacts)">
                    <p-button icon="pi pi-plus" (click)="editContact('new')"></p-button>
                </div>

                <div class="contacts-container">
                    <ng-container *ngIf="(!isNewCompany && contacts); else saveCompanyFirst">
                        <p-table [value]="contacts" size="small">
                            <ng-template #header>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template #body let-contact>
                                <tr>
                                    <td>
                                        {{contact.firstName}} {{contact.lastName}}
                                    </td>
                                    <td>
                                        {{contact.title}}
                                    </td>
                                    <td>
                                        <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                                    </td>
                                    <td class="control-cell">
                                        <p-button icon="pi pi-cog" (click)="editContact(contact._id)"></p-button>
                                        <p-button icon="pi pi-times" (click)="deleteContactClicked(contact)"></p-button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-container>
                </div>
            </p-tabpanel>

            <p-tabpanel [value]="2">
                <div>
                    <div class="d-flex w-100">
                        <h5 class="flex-fill">
                            Apollo Company Link
                        </h5>


                        <p-progress-spinner *ngIf="isLoadingEmployees"
                            [style]="{width: '50px', height: '50px'}"></p-progress-spinner>

                        <div
                            *ngIf="!isNewCompany && editTarget && (!apolloEmployeeDataState || apolloEmployeeDataState.state !== 'in-progress')">
                            <p-button
                                *ngIf="!apolloEmployeeDataState || (apolloEmployeeDataState.state !== 'in-progress' && apolloEmployeeDataState.state !== 'complete')"
                                (click)="loadApolloEmployees()" label="Load Employees"></p-button>
                            <p-button *ngIf="apolloEmployeeDataState?.state === 'complete'"
                                (click)="showApolloEmployeeList()" label="Show Employees"></p-button>
                            <p-button *ngIf="apolloEmployeeDataState?.state === 'complete'"
                                (click)="resetAndReloadApolloEmployees()" label="Reset & Reload Employees"></p-button>
                        </div>
                    </div>

                    <ng-container *ngIf="!isNewCompany && editTarget; else saveCompanyFirst">
                        <div>
                            <ng-container
                                *ngIf="companyService.apolloCompany$ | async as apolloCompany; else noApolloCompany">
                                <ng-template #apolloField let-label="label" let-value="value">
                                    <div class="apollo-field">
                                        <label> {{label}} </label>
                                        <div class="value"> {{value}} </div>
                                    </div>
                                </ng-template>

                                <div>
                                    <ng-container
                                        *ngTemplateOutlet="apolloField; 
                                            context: {label: 'Company Name', value: apolloCompany.name }"></ng-container>

                                    <ng-container
                                        *ngTemplateOutlet="apolloField; 
                                            context: {label: 'Domain', value: apolloCompany.domain || apolloCompany.primaryDomain }"></ng-container>

                                    <ng-container *ngIf="apolloCompany.primaryPhone">
                                        <ng-container
                                            *ngTemplateOutlet="apolloField; 
                                            context: {label: 'Company Phone Number', value: apolloCompany.primaryPhone }"></ng-container>
                                    </ng-container>

                                    <div class="apollo-field" *ngIf="apolloCompany.linkedInUrl">
                                        <label> LinkedIn URL: </label>
                                        <a [href]="apolloCompany.linkedInUrl" target="_blank">
                                            {{apolloCompany.linkedInUrl}} </a>
                                    </div>

                                    <div class="apollo-field" *ngIf="apolloCompany.websiteUrl">
                                        <label> Website URL: </label>
                                        <a [href]="apolloCompany.websiteUrl" target="_blank">
                                            {{apolloCompany.websiteUrl}} </a>
                                    </div>

                                    <div class="apollo-field" *ngIf="apolloCompany.twitterUrl">
                                        <label> Twitter URL: </label>
                                        <a [href]="apolloCompany.twitterUrl" target="_blank">
                                            {{apolloCompany.twitterUrl}} </a>
                                    </div>

                                </div>
                                <div>
                                    <p-button label="Find Apollo Co." (click)="findApolloCompany()"></p-button>
                                </div>
                            </ng-container>
                        </div>

                        <ng-template #noApolloCompany>
                            <div
                                *ngIf="(companyService.subscribeToState('apollo-company') | async) === 'not-available'">
                                No Apollo company linked with this company.
                            </div>
                            <div>
                                <p-button label="Find Apollo Co." (click)="findApolloCompany()"></p-button>
                            </div>
                            <div *ngIf="(companyService.subscribeToState('apollo-company') | async) === 'loading'">
                                Loading...
                            </div>
                        </ng-template>
                    </ng-container>
                </div>

            </p-tabpanel>

            <p-tabpanel [value]="3">
                <div *ngIf="editTarget">
                    <div *ngIf="glassDoorLink">
                        <a [href]="glassDoorLink" target="_blank">
                            <p-button icon="fa-regular fa-window-frame"></p-button>
                        </a>
                    </div>
                    <div>
                        <p-floatlabel>
                            <input id="glass-door-review-count" pInputText
                                [(ngModel)]="glassDoorCalculator.reviewCount" />
                            <label for="glass-door-review-count">Total Reviews</label>
                        </p-floatlabel>

                        <p-floatlabel>
                            <input id="glass-door-average-review" pInputText
                                [(ngModel)]="glassDoorCalculator.averageScore" />
                            <label for="glass-door-average-review">Average Review</label>
                        </p-floatlabel>
                    </div>

                    <div>
                        <p-floatlabel>
                            <input id="glass-door-review-count" pInputText
                                [value]="glassDoorCalculator.fiveStartCount" />
                            <label for="glass-door-review-count">5 Stars</label>
                        </p-floatlabel>

                        <p-floatlabel>
                            <input id="glass-door-average-review" pInputText
                                [value]="glassDoorCalculator.oneStarCount" />
                            <label for="glass-door-average-review">1 Stars</label>
                        </p-floatlabel>
                    </div>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>

    <ng-template #saveCompanyFirst>
        <div>
            Comments, Contacts, and Job Listings can be added once the company is saved.
        </div>
    </ng-template>

    <div class="page-toolbar">
        <p-toolbar>
            <ng-template #center>

            </ng-template>
            <ng-template #end>
                <p-button label="Back" routerLink="../../list"></p-button>
                <p-button label="Save" (onClick)="saveCompanyInfo()"></p-button>
                <p-button label="Save And Back" (onClick)="saveCompanyInfoAndReturn()"></p-button>
            </ng-template>
        </p-toolbar>
    </div>

</div>

<app-contact-dialog [(visible)]="isEditContactVisible" [contactId]="editContactTargetId"
    [companyId]="(companyService.companyId$| async)!" (onComplete)="onNewContactClosed($event)"></app-contact-dialog>

<app-job-listing-dialog [(visible)]="isEditJobListingVisible" [jobListingId]="editJobListingTargetId"
    [companyId]="(companyService.companyId$ | async)!"
    (onClosed)="onListingDetailClosed($event)"></app-job-listing-dialog>

<ng-container *ngIf="isApolloEmployeeListVisible">
    <p-dialog [(visible)]="isApolloEmployeeListVisible">
        <ng-template #header>
            Employee List
        </ng-template>

        <app-employee-list></app-employee-list>

        <ng-template #footer>
            <p-button label="Close" (click)="hideApolloEmployeeList()"></p-button>
        </ng-template>
    </p-dialog>
</ng-container>