<div *ngIf="!(editTarget)">
    Loading...
</div>

<div *ngIf="editTarget">
    <p-panel>
        <ng-template #header>
            <div class="header-container">
                <h5>
                    Company Info
                </h5>
            </div>
        </ng-template>

        <div class="info-panel">
            <div class="checkbox-container">
                <p-checkbox [binary]="true" [(ngModel)]="editTarget.archive"></p-checkbox>
                <label>Archive This Company</label>
            </div>
            <p-floatlabel>
                <input id="company-name" pInputText [(ngModel)]="editTarget.name" />
                <label for="company-name">Company name</label>
            </p-floatlabel>
            <p-floatlabel>
                <input id="website" pInputText [(ngModel)]="websiteField" />
                <label for="website">Website</label>
            </p-floatlabel>
            <div *ngIf="canNavigateWebsite">
                <a [href]="navigationWebsite" target="_blank">{{navigationWebsite}}</a>
            </div>
            <div *ngIf="glassDoorLink">
                <a [href]="glassDoorLink" target="_blank">Glass Door Search</a>
            </div>
        </div>
    </p-panel>

    <p-panel>
        <ng-template #header>
            <div class="header-container">
                <h5>
                    Job Listings
                </h5>
                <div *ngIf="!isNewCompany && jobListings">
                    <p-button icon="pi pi-plus" (click)="editJobListing('new')"></p-button>
                </div>
            </div>
        </ng-template>

        <ng-container *ngIf="(!isNewCompany && jobListings); else saveCompanyFirst">
            <p-table [value]="jobListings" size="small">
                <ng-template #header>
                    <tr>
                        <th>
                            Posting Date
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Posting Link
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </ng-template>

                <ng-template #body let-listing>
                    <tr>
                        <td>
                            {{ listing.postingDate | date:'MM/dd/yy' }}
                        </td>
                        <td>
                            {{listing.jobTitle}}
                        </td>
                        <td>
                            <a href="{{listing.urlLink}}" target="_blank"> Job Link </a>
                        </td>
                        <td>
                            <div *ngIf="listing.currentStatus">
                                <div>
                                    {{listing.currentStatus.status}}
                                </div>
                                <div>
                                    {{listing.currentStatus.statusDate | date:'MM/dd/yy'}}
                                </div>
                            </div>
                        </td>
                        <td class="control-cell">
                            <p-button icon="pi pi-cog" (click)="editJobListing(listing._id)"></p-button>
                            <p-button icon="pi pi-times" (click)="deleteJobListingClicked(listing)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>
    </p-panel>

    <p-panel>
        <ng-template #header>
            <div class="header-container">
                <h5>
                    Contacts
                </h5>
                <div *ngIf="(!isNewCompany && contacts)">
                    <p-button icon="pi pi-plus" (click)="editContact('new')"></p-button>
                </div>
            </div>
        </ng-template>

        <ng-container *ngIf="(!isNewCompany && contacts); else saveCompanyFirst">
            <p-table [value]="contacts" size="small">
                <ng-template #header>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </ng-template>

                <ng-template #body let-contact>
                    <tr>
                        <td>
                            {{contact.firstName}} {{contact.lastName}}
                        </td>
                        <td>
                            {{contact.title}}
                        </td>
                        <td>
                            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                        </td>
                        <td class="control-cell">
                            <p-button icon="pi pi-cog" (click)="editContact(contact._id)"></p-button>
                            <p-button icon="pi pi-times" (click)="deleteContactClicked(contact._id)"></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>

    </p-panel>

    <ng-container *ngIf="!isNewCompany && editTarget; else saveCompanyFirst">
        <p-panel>
            <ng-template #header>
                <h5>
                    Comments
                </h5>
            </ng-template>
            
            <app-comments-editor [commentOwner]="editTarget!"></app-comments-editor>
        </p-panel>
    </ng-container>

    <p-panel>
        <ng-template #header>
            <h5>
                Apollo Company Link
            </h5>
        </ng-template>
        <div *ngIf="hasApolloCompany$ | async; else noApolloCompany">
            <ng-container *ngIf="apolloCompanyValue$ | async as apolloCompany">

                <ng-template #apolloField let-label="label" let-value="value">
                    <div class="apollo-field">
                        <label> {{label}} </label>
                        <div class="value"> {{value}} </div>
                    </div>
                </ng-template>

                <div>
                    <ng-container *ngTemplateOutlet="apolloField; 
                        context: {label: 'Company Name', value: apolloCompany.name }"></ng-container>

                    <ng-container
                        *ngTemplateOutlet="apolloField; 
                        context: {label: 'Domain', value: apolloCompany.domain || apolloCompany.primaryDomain }"></ng-container>

                    <ng-container *ngIf="apolloCompany.organizationHeadcount">
                        <ng-container *ngTemplateOutlet="apolloField; 
                        context: {label: 'Head Count', value: apolloCompany.organizationHeadcount }"></ng-container>
                    </ng-container>

                    <ng-container *ngIf="apolloCompany.primaryPhone">
                        <ng-container *ngTemplateOutlet="apolloField; 
                        context: {label: 'Company Phone Number', value: apolloCompany.primaryPhone }"></ng-container>
                    </ng-container>

                    <div class="apollo-field" *ngIf="apolloCompany.linkedInUrl">
                        <label> LinkedIn URL: </label>
                        <a [href]="apolloCompany.linkedInUrl" target="_blank"> {{apolloCompany.linkedInUrl}} </a>
                    </div>

                    <div class="apollo-field" *ngIf="apolloCompany.websiteUrl">
                        <label> Website URL: </label>
                        <a [href]="apolloCompany.websiteUrl" target="_blank"> {{apolloCompany.websiteUrl}} </a>
                    </div>

                    <div class="apollo-field" *ngIf="apolloCompany.twitterUrl">
                        <label> Twitter URL: </label>
                        <a [href]="apolloCompany.twitterUrl" target="_blank"> {{apolloCompany.twitterUrl}} </a>
                    </div>

                </div>
            </ng-container>
        </div>

        <ng-template #noApolloCompany>
            <div *ngIf="!(apolloCompany$ | async)">
                No Apollo company linked with this company.
            </div>
            <div>
                <p-button label="Find Apollo Co." (click)="findApolloCompany()"></p-button>
            </div>
            <div *ngIf="(apolloCompany$ | async) === 'loading'">
                Loading...
            </div>
        </ng-template>
    </p-panel>

    <ng-template #saveCompanyFirst>
        <div>
            Comments, Contacts, and Job Listings can be added once the company is saved.
        </div>
    </ng-template>

    <div class="page-toolbar">
        <p-toolbar>
            <ng-template #center>

            </ng-template>
            <ng-template #end>
                <p-button label="Back" routerLink="../../list"></p-button>
                <p-button label="Save" (onClick)="saveCompanyInfo()"></p-button>
                <p-button label="Save And Back" (onClick)="saveCompanyInfoAndReturn()"></p-button>
            </ng-template>
        </p-toolbar>
    </div>

</div>

<app-contact-dialog [(visible)]="isEditContactVisible" [contactId]="editContactTargetId"
    [companyId]="(companyId$ | async)!" (onComplete)="onNewContactClosed($event)"></app-contact-dialog>

<app-job-listing-dialog [(visible)]="isEditJobListingVisible" [jobListingId]="editJobListingTargetId"
    [companyId]="(companyId$ | async)!" (onClosed)="onListingDetailClosed($event)"></app-job-listing-dialog>