@import "../../../style_variables";

header {
  background-color: #333;
  color: white;
  padding: 20px;
  height: $header-height;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header nav {
  margin-top: 10px;
}

header p-button {
  margin-right: 15px;
}
