@import "../../../style_variables";

.header {
  background-color: #333;
  color: white;
  padding: $header-padding;
  height: $header-height;
  margin-bottom: $header-bottom-margin;

  width: 100%;
  display: flex;
  flex-direction: row;

  h1 {
    margin: 0;
    font-size: 2.5em;
  }

  .header-center {
    width: $content-width;
  }

  .header-gutter {
    width: $sidebar-width;
  }
}

header nav {
  margin-top: 10px;
}

header p-button {
  margin-right: 15px;
}
