<ng-template #controls>
    <div class="control-panel">
        <p-button label="Add Company"></p-button>
    </div>

</ng-template>

<div class="company-list">
    <h2>Company List</h2>
    <p-toolbar>
        <ng-template #start>
            <div class="checkbox-container">
                <p-checkbox [binary]="true" [(ngModel)]="hideArchived"></p-checkbox>
                <label>Hide Archived Companies</label>
            </div>
        </ng-template>

        <ng-template #center>

        </ng-template>
        <ng-template #end>
            <p-button label="New Company" routerLink="../edit/new"></p-button>
        </ng-template>
    </p-toolbar>

    <p-table *ngIf="companyList" [value]="companyList">\
        <ng-template #header>
            <tr>
                <th class="header-cell">
                    Name
                </th>
                <th class="header-cell">
                    Website
                </th>
                <th class="number-cell">
                    Contacts
                </th>
                <th class="number-cell">
                    Job Listings
                </th>
            </tr>
        </ng-template>

        <ng-template #body let-company>
            <tr>
                <td>
                    <p-button [rounded]="true" size="small" [text]="true" severity="danger" icon="pi pi-times"
                        (click)="deleteCompanyConfirmation(company)"></p-button>
                    <a routerLink="../edit/{{company._id}}"> {{company.name}} </a>
                </td>
                <td>
                    <a href="https://{{company.website}}" target="_blank">{{company.website}}</a>
                </td>
                <td class="number-cell">
                    {{ company.companyContacts }}
                </td>
                <td class="number-cell">
                    {{ company.jobListings }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>