<ng-template #controls>
    <div class="control-panel">
        <p-button label="Add Company"></p-button>
    </div>

</ng-template>

<div class="company-list">
    <h2>Company List</h2>
    <p-panel>
        <div class="side-by-side">
            <p-floatlabel>
                <input id="name-filter" pInputText [(ngModel)]="nameFilter" />
                <label for="name-filter">Name filter</label>
            </p-floatlabel>

            <p-button label="Clear" (click)="clearSearch()"></p-button>
            <p-button icon="fa-regular fa-refresh" (click)="reloadCompanies()"></p-button>
        </div>
        <div>
            <p-button label="Quick Job Create" (click)="createQuickJob()"></p-button>
        </div>
    </p-panel>

    <p-toolbar>
        <ng-template #start>
            <div class="checkbox-container">
                <p-checkbox [binary]="true" [(ngModel)]="hideArchived"></p-checkbox>
                <label>Hide Archived Companies</label>
            </div>
        </ng-template>

        <ng-template #center>

        </ng-template>
        <ng-template #end>
            <p-button label="New Company" routerLink="../edit/new"></p-button>
        </ng-template>
    </p-toolbar>

    <!-- This helps identify the top of the table for resizing purposes. -->
    <div id="table-top-position-helper"></div>

    <!-- Table -->
    <p-table *ngIf="companyList" [value]="companyList" size="small" [scrollable]="true"
        [scrollHeight]="tableSizeHelper.remainingHeight + 'px'">
        <ng-template #header>
            <tr>
                <th class="header-cell" pSortableColumn="name">
                    Name <p-sortIcon field="name" />
                </th>
                <th>

                </th>
                <th class="header-cell" pSortableColumn="website">
                    Website <p-sortIcon field="website" />
                </th>
                <th class="number-cell" pSortableColumn="companyContacts">
                    Contacts <p-sortIcon field="companyContacts" />
                </th>
                <th class="number-cell" pSortableColumn="jobListings">
                    Job Listings <p-sortIcon field="jobListings" />
                </th>
                <th class="number-cell" pSortableColumn="openJobListings">
                    Open Job Listings <p-sortIcon field="openJobListings" />
                </th>
            </tr>
        </ng-template>

        <ng-template #body let-company>
            <tr [style]="{height: itemHeight + 'px', maxHeight: itemHeight + 'px'}" class="job-listing">
                <td>
                    <p-button [style]="{maxHeight: '25px'}" [rounded]="true" size="small" [text]="true"
                        severity="danger" icon="pi pi-times" (click)="deleteCompanyConfirmation(company)"></p-button>
                    <a routerLink="../edit/{{company._id}}"> {{company.name}} </a>
                </td>
                <td>
                    <a [href]="getJobSiteUrl(company.jobsSite)" *ngIf="company.jobsSite" target="_blank" size="small">
                        <p-button icon="fa-solid fa-briefcase"></p-button>
                    </a>
                </td>
                <td>
                    <a href="https://{{company.website}}" target="_blank">{{company.website}}</a>
                </td>
                <td class="number-cell">
                    {{ company.companyContacts }}
                </td>
                <td class="number-cell">
                    {{ company.jobListings }}
                </td>
                <td class="number-cell">
                    {{ company.openJobListings }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>