.number-cell {
    width: 80px;
    text-align: center;
}

.header-cell {
    text-align: center;
}

.side-by-side {
    display: flex;
    align-items: baseline;
}

.job-listing {
    p-button {
        padding: 0;
        margin: 0;
        margin-left: 0.5em;
    }
}
