<div class="top-buttons">
    <p-button (click)="startNewTarotGame()" label="Start New Game" [rounded]="true" [raised]="true"> </p-button>
    <p-button (click)="showTarotInstructions()" severity="help" label="Instructions" [rounded]="true"
        [raised]="true"></p-button>
</div>

<div *ngIf="gameService.games.length > 0 && selectedGameId !== ''">
    <p-tabs [(value)]="selectedGameId" [scrollable]="true" [lazy]="true">
        <p-tablist>
            <p-tab [value]="game._id" *ngFor="let game of gameService.games; let i = index">
                Game {{ i }}
            </p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel *ngFor="let game of gameService.games;let i = index" [value]="game._id">
                <div>
                    <p-button (click)="deleteGame(game._id)" label="Delete Game"> </p-button>
                </div>
                <div *ngIf="game.cardsPicked.length < 1" class="no-cards-message">
                    You're about to begin! Give Ashlie a chat - and she'll draw cards for you.
                </div>
                <div>
                    Sometimes, you just have to ask her to flip the next card. Or flip a card.
                </div>
                <div class="card-container">
                    <app-tarot-card *ngFor="let card of game.cardsPicked" [cardReference]="card"></app-tarot-card>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>

<div *ngIf="gameService.games.length === 0 && !isLoadingGames" class="no-game-container">
    <div class="no-game-message">
        You have no games yet!
    </div>
    <div>
        Click on the Start New Game button to begin.
    </div>
</div>

<div *ngIf="isLoadingGames">
    Loading Games
</div>

<p-dialog [(visible)]="isTarotInstructionsVisible">
    <ng-template #header>
        Game Instructions
    </ng-template>

    <h3>Instructions</h3>
    <div>
        Ashlie is your tarot card reader. You will have her draw 5 cards, one by one. For each card
        she draws, she will give you some information about that card.
    </div>
    <div>
        After 5 cards are drawn, she will tell you what all cards mean together.
    </div>
    <div>
        NOTE: Sometimes you have to ask her for the final reading. She's can be a little slow.
    </div>

    <h5>Special Note</h5>
    <div>
        This illustrates the ability of an AI to call functions (instead of just chatting), and
        affect the world around it.
    </div>

    <ng-template #footer>
        <p-button (click)="this.isTarotInstructionsVisible = false" label="OK"></p-button>
    </ng-template>
</p-dialog>