.card-container {
    min-height: 35vh;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;

    > * {
        flex: 0 0 calc(25% - 20px); /* Force all elements to be exactly 25% minus margin */
        margin: 10px;
        box-sizing: border-box; /* Ensure padding and border are included in width */
    }
}

.no-game-container {
    text-align: center;
    margin: 20px;
    width: 100%;
}

.no-game-message,
.no-cards-message {
    text-align: center;
    width: 100%;
}
.no-game-message {
    font-size: 2em;
    font-weight: bold;
}

.top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

h5 {
    margin-top: 20px;
}
