.card-container {
    min-height: 45vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;

    >* {
        flex: 0 0 calc(25% - 20px); /* Force all elements to be exactly 25% minus margin */
        margin: 10px;
        box-sizing: border-box; /* Ensure padding and border are included in width */
    }
}

.no-game-container {
    text-align: center;
    margin: 20px;
    width: 100%;

    .no-game-message {
        font-size: 2em;
        font-weight: bold;
    }
}

.no-cards-message {
    width: 100%;
}
