$header-height: 146px;
$header-bottom-margin: 8px;
$header-padding-top: 20px;
$header-padding-bottom: 20px;
$header-padding-left: 20px;
$header-padding-right: 20px;
$header-padding: $header-padding-top $header-padding-right $header-padding-bottom $header-padding-left;

$content-width: 800px;
$sidebar-width: calc((100vw - $content-width) / 2);
$side-bar-padding: 10px;

// The height left over on the page for content,
//  after removing the header, and the header's margin.
$free-content-height: calc(100vh - $header-height - $header-bottom-margin - $header-padding-top - $header-padding-bottom);

$header-background-gradient: linear-gradient(135deg, #222, #444); // Darker gradient for more contrast
$header-background-animation-color: rgba(255, 255, 255, 0.2); // Brighter animation color
// $header-texture-image: url('/assets/textures/noise.png'); // Replace with your texture image path
$header-texture-opacity: 0.2; // Increase texture visibility
