<div [style]="{height: '100%' }">

    <p-table [value]="dataLoader.virtualData" [totalRecords]="dataLoader.totalCount" [rows]="pageCount"
        [virtualScroll]="true" [virtualScrollItemSize]="itemHeight" [lazy]="true" [loading]="dataLoader.isLoading"
        [showLoader]="false" [virtualScrollOptions]="scrollOptions" (onLazyLoad)="loadData($event)" scrollHeight="600px"
        size="small" [lazyLoadOnInit]="true" [globalFilterFields]="['person.firstName']">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" [style]="{width: '20%'}">
                    ID <p-sortIcon field="id" />
                </th>
                <th pSortableColumn="firstName">
                    First Name <p-sortIcon field="firstName" />
                </th>
                <th pSortableColumn="lastName">
                    Last Name <p-sortIcon field="lastName" />
                </th>
                <th pSortableColumn="age">
                    Age <p-sortIcon field="age" />
                </th>
            </tr>
        </ng-template>

        <ng-template #body pTemplate="body" let-person>
            <tr [style]="{height: itemHeight + 'px'}">
                <td>
                    {{person.id}}
                </td>
                <td>
                    {{person.firstName}}
                </td>
                <td>
                    {{person.lastName}}
                </td>
                <td>
                    {{ person.age }}
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>