<div [style]="{height: '100%' }">

    <p-table [value]="dataLoader.virtualData" [totalRecords]="dataLoader.totalCount" [rows]="pageCount"
        [virtualScroll]="true" [virtualScrollItemSize]="itemHeight" [lazy]="true" [loading]="dataLoader.isLoading"
        [showLoader]="false" [virtualScrollOptions]="scrollOptions" (onLazyLoad)="loadData($event)" scrollHeight="600px"
        size="small" [lazyLoadOnInit]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Age </th>
            </tr>
        </ng-template>

        <ng-template #body pTemplate="body" let-person>
            <tr [style]="{height: itemHeight + 'px'}">
                <td>
                    {{person.id}}
                </td>
                <td>
                    {{person.firstName}}
                </td>
                <td>
                    {{person.lastName}}
                </td>
                <td>
                    {{ person.age }}
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>